@keyframes ellipseFloating {
  0% {
    transform: scale(90%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: auto;
  }
}

.ellipseFloating {
  animation: ellipseFloating 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
  animation-delay: 0.05s;
}

@keyframes titleFloating {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translatY(0%);
    opacity: 1;
  }
}

.titleFloating {
  animation: titleFloating 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

@keyframes chatFloating {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translatY(0%);
    opacity: 1;
  }
}

.chatFloating {
  animation: chatFloating 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

@keyframes subQuestionFloating {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.subQuestionFloating {
  animation: subQuestionFloating 1s ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 0.1s;
}

@keyframes chatPendingFloating {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-70%);
  }
}

.chatPendingFloating {
  animation: chatPendingFloating 0.7s ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}
